@font-face {
	font-family: "IBMPlexSansThai";
	src: url(../fonts/IBMPlexSansThai/IBMPlexSansThai-Medium.ttf);
}

:root {
	--primary-color: #ffb1b1;
	--secondary-color: #ffcbcb;
}

::selection {
	color: #fff;
	background: var(--primary-color);
}

body {
	font-family: "IBMPlexSansThai", sans-serif;
}

.text-primary {
	color: var(--primary-color) !important;
}

.bg-primary {
	background-color: var(--secondary-color) !important;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
	height: 100%;
}

:not(.main-content) .navbar .dropdown .dropdown-menu {
	top: 0.25rem !important;
}

.dropdown .dropdown-menu.dropdown-menu-end {
	right: 8px !important;
}

.navbar-expand-lg .navbar-nav .nav-link i {
	font-size: 18px;
}

.customMainContent {
	display: none;
}

.preloader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	gap: 30px;
}

.preloader .loader {
	width: 20px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: var(--primary-color);
	box-shadow: 0 0 0 0 #0004;
	animation: l1 1s infinite;
}

@keyframes l1 {
	100% {
		box-shadow: 0 0 0 30px #0000;
	}
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
	padding-left: 36px;
}

.btn-search {
	border-radius: 50px;
}

.btn-primary,
.btn-primary:hover {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-outline-primary,
.btn-outline-primary:hover {
	border-color: var(--primary-color);
	color: var(--primary-color);
}

.btn-outline-primary:hover:not(.active) {
	border-color: var(--primary-color);
	color: var(--primary-color);
}

.form-control:focus {
	border-color: var(--primary-color);
}

.btn-check:checked + .btn,
.btn-check:active + .btn,
.btn:active,
.btn.active,
.btn.show {
    color: #fff
}


.btn:focus,
.btn:hover,
.btn:active {
    outline: none;
	box-shadow: none;
}

.btn {
    padding: 6px 10px;
}

.customCard {
	min-height: 70vh;
	padding: 20px 30px;
}

.use-bootstrap-tag .input-wrapper input {
	color: #495057;
	margin-top: -12px;
}

.use-bootstrap-tag {
	min-height: 70px;
}

.use-bootstrap-tag.focus {
	border-color: var(--primary-color);
}

.use-bootstrap-tag.focus,
*:focus {
    outline: none;
	box-shadow: none
}


input:hover,
input:active,
input:focus {
	outline: none !important;
	border-color: var(--primary-color);
}

input::placeholder {
	color: #d2d6da !important;
}