:root {
    --primary-color: #FFB1B1;
    --secondary-color: #FFCBCB;
}

@font-face {
    font-family: 'IBMPlexSansThai';
    src: url(../fonts/IBMPlexSansThai/IBMPlexSansThai-Medium.ttf);
}

::selection {
    color: #fff;
    background: var(--primary-color);
}

.customMainContent {
    display: none;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
}

.preloader .loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary-color); 
    box-shadow: 0 0 0 0 #0004;
    animation: l1 1s infinite;
}

@keyframes l1 {
    100% {box-shadow: 0 0 0 30px #0000}
}

body {
    font-family: 'IBMPlexSansThai', sans-serif;
}

.text-pink {
    color: var(--primary-color) !important;
}

.card.card-pink {
    border-top: 2px solid var(--primary-color); 
}