:root {
	--primary-color: #6777ef;
	--pink-color: #FFB1B1;
}

@font-face {
	font-family: "IBMPlexSansThai";
	src: url(../fonts/IBMPlexSansThai/IBMPlexSansThai-Medium.ttf);
}

::selection {
	color: #fff;
	background: var(--primary-color);
}

.customMainContent {
	display: none;
}

.preloader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	gap: 30px;
}

.preloader .loader {
	width: 20px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: var(--primary-color);
	box-shadow: 0 0 0 0 #0004;
	animation: l1 1s infinite;
}

@keyframes l1 {
	100% {
		box-shadow: 0 0 0 20px #0000;
	}
}

body {
	font-family: "IBMPlexSansThai", sans-serif;
}

.text-pink {
	color: var(--pink-color) !important;
}

.card.card-pink {
	border-top: 2px solid var(--pink-color);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
	box-shadow: none;
}

.custom-control-input.is-valid ~ .custom-control-label,
.was-validated .custom-control-input:valid ~ .custom-control-label {
	color: unset;
}

.custom-control-input.is-valid ~ .custom-control-label::before,
.was-validated .custom-control-input:valid ~ .custom-control-label::before {
	background-color: #dee2e6 !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before {
	background-color: var(--primary-color) !important;
}

.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.was-validated .form-control:valid,
.custom-file-input.is-valid ~ .custom-file-label,
.was-validated .custom-file-input:valid ~ .custom-file-label,
.custom-file-input.is-invalid ~ .custom-file-label,
.was-validated .custom-file-input:invalid ~ .custom-file-label,
.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
	border-color: #e4e6fc !important;
}

.custom-file-input.is-valid:focus ~ .custom-file-label,
.was-validated .custom-file-input:valid:focus ~ .custom-file-label {
	box-shadow: none;
}

.dataTables_wrapper select.form-control:not([size]):not([multiple]) {
    height: 31px;
    padding: .25rem .5rem;
}

.gap-5 {
	gap: 5px;
}

.customMainContent .dropdown-list .dropdown-list-content {
	height: unset;
	max-height: 350px;
	height: auto !important;
}

.customMainContent .dropdown-list .dropdown-list-content:not(.is-end):after {
	height: 0;
	display: none;
}

.customMainContent .dropdown-list .dropdown-footer {
	padding: 5px;
}

.customMainContent .main-sidebar .sidebar-menu li a .badge {
	width: unset;
	margin-left: 3px;
}